<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cal.base.system.mapper.OrganizationMapper">
	<resultMap id="BaseResultMap" type="com.cal.base.system.entity.po.OrganizationPO">
		<result column="ORGANIZATION_ID" property="organizationId"/>
		<result column="CODE" property="code"  />
		<result column="NAME" property="name"  />
		<result column="ADDRESS" property="address"  />
		<result column="PID" property="pid"  />
		<result column="SYSCODE" property="syscode"  />
		<result column="ORG_ID" property="orgId"  />
		<result column="IS_ENABLED" property="isEnabled"/>
		<result column="REMARK" property="remark"  />
		<result column="CREATE_TIME" property="createTime"/>
		<result column="CREATOR" property="creator"  />
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="UPDATOR" property="updator"  />
	</resultMap>
	
	<insert id="insertSelective">
		insert into system_organization
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="organizationId != null">
				ORGANIZATION_ID,
			</if>
			<if test="code != null">
				CODE,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="pid != null">
				PID,
			</if>
			<if test="syscode != null">
				SYSCODE,
			</if>
			<if test="orgId != null">
				ORG_ID,
			</if>
			<if test="isEnabled != null">
				IS_ENABLED,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="updator != null">
				UPDATOR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="organizationId != null">
				#{organizationId},
			</if>
			<if test="code != null">
				#{code},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="pid != null">
				#{pid},
			</if>
			<if test="syscode != null">
				#{syscode},
			</if>
			<if test="orgId != null">
				#{orgId},
			</if>
			<if test="isEnabled != null">
				#{isEnabled},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="creator != null">
				#{creator},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="updator != null">
				#{updator},
			</if>
		</trim>
	</insert>
</mapper>