<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cal.base.system.mapper.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.cal.base.system.entity.po.ResourcePO">
		<id column="RESOURCE_ID" property="resourceId" />
		<result column="NAME" property="name" />
		<result column="URL" property="url" />
		<result column="TYPE" property="type" />
		<result column="DESCRIPTION" property="description" />
		<result column="NODE_ORDER" property="nodeOrder" />
		<result column="PID" property="pid" />
		<result column="IS_ENABLED" property="isEnabled" />
		<result column="REMARK" property="remark" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATOR" property="creator" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATOR" property="updator" />
	</resultMap>
	
	<sql id="Base_Column_List">
		RESOURCE_ID, NAME, URL, TYPE, DESCRIPTION, NODE_ORDER, PID, IS_ENABLED, REMARK,
		CREATE_TIME,
		CREATOR, UPDATE_TIME, UPDATOR
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from system_resource
		where RESOURCE_ID = #{resourceId}
	</select>
	
	<delete id="deleteByPrimaryKey">
		delete from system_resource
		where RESOURCE_ID = #{resourceId}
	</delete>
	
	<insert id="insertSelective">
		<selectKey order="BEFORE" keyProperty="resourceId" keyColumn="RESOURCE_ID" resultType="java.lang.String">
			SELECT REPLACE(UUID(),'-','')
		</selectKey>
		insert into system_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="resourceId != null">
				RESOURCE_ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="url != null">
				URL,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="description != null">
				DESCRIPTION,
			</if>
			<if test="nodeOrder != null">
				NODE_ORDER,
			</if>
			<if test="pid != null">
				PID,
			</if>
			<if test="isEnabled != null">
				IS_ENABLED,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="updator != null">
				UPDATOR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="resourceId != null">
				#{resourceId},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="url != null">
				#{url},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="nodeOrder != null">
				#{nodeOrder},
			</if>
			<if test="pid != null">
				#{pid},
			</if>
			<if test="isEnabled != null">
				#{isEnabled},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="creator != null">
				#{creator},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="updator != null">
				#{updator},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective">
		update system_resource
		<set>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="url != null">
				URL = #{url},
			</if>
			<if test="type != null">
				TYPE = #{type},
			</if>
			<if test="description != null">
				DESCRIPTION = #{description},
			</if>
			<if test="nodeOrder != null">
				NODE_ORDER = #{nodeOrder},
			</if>
			<if test="pid != null">
				PID = #{pid},
			</if>
			<if test="isEnabled != null">
				IS_ENABLED = #{isEnabled},
			</if>
			<if test="remark != null">
				REMARK = #{remark},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="creator != null">
				CREATOR = #{creator},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			<if test="updator != null">
				UPDATOR = #{updator},
			</if>
		</set>
		where RESOURCE_ID = #{resourceId}
	</update>
	
	<!-- 资源界面数据查询展示Map -->
	<resultMap type="com.cal.base.system.entity.dto.ResourceListDTO" id="ResourceListDtoMap">
		<id column="RESOURCE_ID" property="resourceId" />
		<result column="NAME" property="name" />
		<result column="URL" property="url" />
		<result column="TYPE" property="type" />
		<result column="DESCRIPTION" property="description" />
		<result column="NODE_ORDER" property="nodeOrder" />
		<result column="PID" property="pid" />
		<result column="IS_ENABLED" property="isEnabled" />
		<result column="REMARK" property="remark" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATOR" property="creator" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATOR" property="updator" />
	</resultMap>
	
	<!--  资源界面数据查询展示 -->
	<select id="listAll" resultMap="ResourceListDtoMap">
		SELECT
			resource.RESOURCE_ID,
			resource. NAME,
			resource.URL,
			resource.TYPE,
			resource.DESCRIPTION,
			resource.NODE_ORDER,
			resource.PID,
			resource.IS_ENABLED,
			resource.REMARK,
			resource.CREATE_TIME,
			resource.CREATOR,
			resource.UPDATE_TIME,
			resource.UPDATOR
		FROM
			system_resource resource
			<where>
				<if test="name != null and name != ''">
					AND resource.NAME = #{name}
				</if>
				<if test="isEnabled != null and isEnabled != ''">
					AND resource.IS_ENABLED = #{isEnabled}
				</if>
				<if test="type != null and type != ''">
					AND resource.TYPE = #{type}
				</if>
			</where>
		ORDER BY resource.CREATE_TIME DESC
	</select>
	
	<!-- 遍历所有资源 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from system_resource
		<where>
			<if test="type != null and type != ''">
				AND resource.TYPE = #{type}
			</if>
		</where>
	</select>
</mapper>