<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cal.base.system.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.cal.base.system.entity.po.Role">
		<id column="ROLE_ID" property="roleId" />
		<result column="NAME" property="name" />
		<result column="DESCRIPTION" property="description" />
		<result column="SYSCODE" property="syscode" />
		<result column="ORG_ID" property="orgId" />
		<result column="IS_ENABLED" property="isEnabled" />
		<result column="REMARK" property="remark" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATOR" property="creator" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATOR" property="updator" />
	</resultMap>

	<sql id="Base_Column_List">
		ROLE_ID, NAME, DESCRIPTION, SYSCODE, ORG_ID, IS_ENABLED,
		REMARK, CREATE_TIME,
		CREATOR,
		UPDATE_TIME, UPDATOR
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from system_role
		where ROLE_ID = #{roleId}
	</select>
	
	<!-- 批量查询 -->
	<select id="queryPos" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from system_role
		<bind name="remarkLike" value="'%' + remark + '%'" />
		<where>
			<!-- <if test="remark != null and remark != ''">
				REMARK LIKE CONCAT('%', #{remark}, '%')
			</if> -->
			<if test="remark != null and remark != ''">
				REMARK LIKE #{remarkLike}
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey">
		delete from system_role
		where ROLE_ID = #{roleId}
	</delete>

	<!-- 批量新增 -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into
		system_role(ROLE_ID,NAME,DESCRIPTION,SYSCODE,ORG_ID,IS_ENABLED,REMARK,CREATE_TIME,CREATOR,UPDATE_TIME,UPDATOR)
		values 
		<foreach collection="list" item="role" index="index" separator=",">
			(#{role.roleId},#{role.name},#{role.description},#{role.syscode},#{role.orgId},#{role.isEnabled},#{role.remark},#{role.createTime},#{role.creator},#{role.updateTime},#{role.updator})
		</foreach>
	</insert>

	<insert id="insertSelective">
		<selectKey keyColumn="ROLE_ID" keyProperty="roleId" order="BEFORE"
			resultType="java.lang.String">
			SELECT replace(uuid(),"-","")
		</selectKey>
		<!-- <bind name="roleId" value='@java.util.UUID@randomUUID().toString().replace("-", "")' /> -->
		insert into system_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="description != null">
				DESCRIPTION,
			</if>
			<if test="syscode != null">
				SYSCODE,
			</if>
			<if test="orgId != null">
				ORG_ID,
			</if>
			<if test="isEnabled != null">
				IS_ENABLED,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="updator != null">
				UPDATOR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="syscode != null">
				#{syscode},
			</if>
			<if test="orgId != null">
				#{orgId},
			</if>
			<if test="isEnabled != null">
				#{isEnabled},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="creator != null">
				#{creator},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="updator != null">
				#{updator},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective">
		update system_role
		<set>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="description != null">
				DESCRIPTION = #{description},
			</if>
			<if test="syscode != null">
				SYSCODE = #{syscode},
			</if>
			<if test="orgId != null">
				ORG_ID = #{orgId},
			</if>
			<if test="isEnabled != null">
				IS_ENABLED = #{isEnabled},
			</if>
			<if test="remark != null">
				REMARK = #{remark},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			<if test="updator != null">
				UPDATOR = #{updator},
			</if>
		</set>
		where ROLE_ID = #{roleId}
	</update>
</mapper>