<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cal.base.system.mapper.RoleResourceMapper">
	<resultMap id="BaseResultMap" type="com.cal.base.system.entity.po.RoleResourcePO">
		<id column="ID" property="id" />
		<result column="ROLE_ID" property="roleId" />
		<result column="RESOURCE_ID" property="resourceId" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, ROLE_ID, RESOURCE_ID
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from system_role_resource
		where ID = #{id}
	</select>
	
	<delete id="deleteByPrimaryKey">
		delete from system_role_resource
		where ID = #{id}
	</delete>

	<insert id="insertSelective">
		insert into system_role_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="resourceId != null">
				RESOURCE_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="roleId != null">
				#{roleId},
			</if>
			<if test="resourceId != null">
				#{resourceId},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective">
		update system_role_resource
		<set>
			<if test="roleId != null">
				ROLE_ID = #{roleId},
			</if>
			<if test="resourceId != null">
				RESOURCE_ID = #{resourceId},
			</if>
		</set>
		where ID = #{id}
	</update>
</mapper>