<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cal.base.system.mapper.UserDataAuthMapper">
	<resultMap id="BaseResultMap" type="com.cal.base.system.entity.po.UserDataAuthPO">
		<result column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="BUSINESS_CODE" property="businessCode" />
		<result column="REMARK" property="remark" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATOR" property="creator" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATOR" property="updator" />
	</resultMap>

	<insert id="insertSelective">
		insert into system_user_data_auth
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="businessCode != null">
				BUSINESS_CODE,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="updator != null">
				UPDATOR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="businessCode != null">
				#{businessCode},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="creator != null">
				#{creator},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="updator != null">
				#{updator},
			</if>
		</trim>
	</insert>
</mapper>